body {
  font-family: 'Abel', sans-serif;
}

#container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 10px;
}


@font-face {
  font-family: 'Monea Alegante';
  src: url('monea_alegante-webfont.woff2') format('woff2'),
       url('monea_alegante-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


#navbar__title {
  margin: 0 auto;
  width: 250px;
}

.navbar {
  margin: 0 auto;
  width: 980px;
}

.navbar__item a {
  text-decoration: none;
  color: black;
  font-family: 'Abel', sans-serif;
  font-size: 14pt;
  transition: color 0.2s ease;
}
.navbar__item a:hover {
  text-decoration: none;
  color: darkgray;
  transition: color 0.2s ease;
}


.navbar__container {
  width: 100%;
}

.navbar__item {
  float: left;
  width: 150px;
  list-style: none;
  text-align: center;
}

.navbar__item ul li {
  text-decoration: none;
  align-items: left;
}



.logo {
  margin: 0 auto;
  width: 100px;
  align-items: center;
  text-align: center;
}

#logo-container {
  padding-top: 30px;
  width: 250px;
  font-size: 35pt;
  font-family: 'Monea Alegante';
  font-weight: 100;
  margin: 0 auto;
}
#logo-container a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}
#logo-container a:hover {
  text-decoration: none;
  color: #666666;
  transition: all 0.3s ease;
}

#logo-box {
  width: 100px;
  margin: 0 auto;
  position: relative;
  top: -50px;
}
.logo {
  transition: all 0.5s ease-in;
}
.logo:hover {
  transform: rotate(-90deg);
  transition: all 0.5s ease-out;
  filter: brightness(150%);
}



.slice-container {
  padding-top: 55px;

}
.slices {
  padding: 0px;
  margin: 0 auto;
  width: 900px;
  height: 250px;
}

.slice {
  padding: 0;
  margin: 0;
  width: 150px;
  height: 250px;
  float: left;
  background-repeat: none;
  transition: all 0.2s ease-out;
}
.slice:hover, .slice:active {
  transition: all 0.2s ease-out;
  transform: translateY(-20px);
}
.slice:active {
  transition: all 0.2s ease-out;
  transform: translateY(-20px);
}

#slice-1 {
  float: left;
  filter: brightness(100%);
}
#slice-1:hover {
  filter: brightness(115%);
  transition: all 0.2s ease-out;
}

#slice-2 {
  float: left;
  filter: brightness(90%);
}
#slice-2:hover {
  filter: brightness(105%);
  transition: all 0.2s ease-out;
}

#slice-3 {
  float: left;
  filter: brightness(82%);
}
#slice-3:hover {
  filter: brightness(97%);
  transition: all 0.2s ease-out;
}

#slice-4 {
  float: left;
  filter: brightness(75%);
}
#slice-4:hover {
  filter: brightness(91%);
  transition: all 0.2s ease-out;
}

#slice-5 {
  float: left;
  filter: brightness(68%);
}
#slice-5:hover {
  filter: brightness(85%);
  transition: all 0.2s ease-out;
}

#slice-6 {
  float: left;
  filter: brightness(60%);
}
#slice-6:hover {
  filter: brightness(80%);
  transition: all 0.2s ease-out;
}